# Example config file. Copy and rename to config.toml
# Examples on serialization and deserialization here:
# https://docs.rs/toml/latest/toml/#deserialization-and-serialization

# Do tabs persist between restarts
persist_tab_state = true

# Speedrun related parameters
konami_code = true

[relics]
"Solstice Diploma" = true
"Amulet of Storytelling" = true
"Tourist's Provision" = true
"Volitional Spirit" = true
"Signifying Glass" = false
"Guardian Aura" = true
"Sequent Flare" = true
"Truestrike Pendant" = true
"Tome of Knowledge" = true
"Falcon-eyed Parrot" = false
"Salient Sails" = false
"Gold Tooth" = false
"Chef's Knife" = false
"Sixth Sense" = false
"Adamant Shard" = false
"Hidden Pockets" = false
"Mithreel Rod" = false
"Bearing Reel" = false
"Stereofilament Line" = false
"Tactician's Mettle" = false
"Artful Gambit" = false
"Double Edge" = false
"Dubious Dare" = false
"Solstice Doctorate" = false
"Mark of the Speedrunner" = true
